/* *************** <footer> Section Start *************** */
.footer-wrap {
    padding: 90px 0 30px 0;
  }
.custom-footer .footer-col-title .title {
    line-height: 52px;
    font-weight: 500;
    font-size: 27px;
    color: var(--c-black-800);
    text-transform: capitalize;
    margin-bottom: 25px;
  }
.custom-footer .footer-col-content p {
    font-size: 16px;
    line-height: 33px;
    font-weight: 400;
    font-family: var(--ff-secondary);
    color: var(--c-grey-900);
    padding-right: 168px;
  }
.footer-social-icon li {
    display: inline-flex;
  }
.footer-social-icon li a {
    background-color: var(--c-black-800);
    color: var(--c-white-900);
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
.footer-social-icon li a:hover {
    color: var(--c-primary);
  }
.custom-footer .footer-social-icon {
    margin-top: 30px;
  }
.custom-footer .footer-social-icon li:nth-child(2) {
    padding: 0 12px;
  }
.custom-footer .footer-social-icon li:nth-child(3) {
    padding-right: 12px;
  }
/* *************** <footer> Section End *************** */

@media (min-width: 1600px) and (max-width: 1500px){

}

@media (min-width: 1500px) and (max-width: 1400px){
	
}

@media (min-width: 1400px) and (max-width: 1300px){
	
}
@media (min-width: 1300px) and (max-width: 1200px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler .icon-bar { width: 24px;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}