.custom-heading .sub-heading {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  color: var(--c-primary);
  line-height: 32px;
  font-weight: 700;
}
.inner-about_main {
  /* filter: grayscale(67%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* height: 100vh; */
  z-index: 9;
  position: relative;
}
.inner-about_main .custom-heading {
  text-align: center;
}

@media (min-width: 1600px) and (max-width: 1500px){

}

@media (min-width: 1500px) and (max-width: 1400px){
	
}

@media (min-width: 1400px) and (max-width: 1300px){
	
}
@media (min-width: 1300px) and (max-width: 1200px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}