
/* *************** Page Name Start *************** */
/*Contact-Us-fdev-sg*/
.conatct-content.custom-pad {
    background-color: var(--c-secondary);
}
.address-box {
    border: 1px solid var(--c-primary);
    min-height: 220px;
    padding: 50px 0;
    position: relative;
}
.address-box::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    background-color: var(--c-primary);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.address-box:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}
.address-content {
    text-align: center;
    position: relative;
    z-index: 2;
}
.address-content h3 {
    font-size: 28px;
    color: var(--c-primary);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.address-box:hover h3 {
    color: var(--c-white-900);
}
.address-content h5 {
    font-family: var(--ff-secondary);
    font-size: 16px;
    font-weight: 400;
    color: var(--c-white-900);
    margin-top: 20px;
}
.address-content h4 {
    font-family: var(--ff-secondary);
    font-size: 16px;
    font-weight: 400;
    color: var(--c-white-900);
    margin-top: 10px;
}
.contact-form-heading {
    text-align: center;
    margin-bottom: 50px;
}
.inner-contact-form .form-control {
    padding: 1rem .75rem;
    font-size: 16px;
    font-family: var(--ff-secondary);
    background-color: transparent;
}
.inner-contact-form .form-label {
    font-family: var(--ff-primary);
    font-size: 20px;
    font-weight: 600;
    color: var(--c-white-900);
    text-transform: uppercase;
}
.inner-contact-form .form-select {
    padding: 1rem .75rem;
    font-size: 16px;
    font-family: var(--ff-secondary);
    color: var(--c-grey-800);
    margin: 16px 0;
    background-color: transparent;
}
.inner-form-btn {
    text-align: center;
    margin-top: 30px;
}
.form-section.custom-pad {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.form-section.custom-pad::after {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.inner-contact-form {
    position: relative;
    z-index: 2;
}
.contact-form-heading h4 {
    font-size: 40px;
    color: var(--c-white-900);
    font-weight: 600;
}
.contact-form-heading p {
    padding: 0 200px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
}
.inner-contact-form  .form-control::placeholder {
    color: var(--c-grey-800);
}
.map {
    background-color: var(--c-secondary);
}
.contact-short-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.contact-short-section::after {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.short-section-content {
    text-align: center;
    position: relative;
    z-index: 2;
}
.short-section-content h4 {
    font-size: 40px;
    color: var(--c-white-900);
    font-weight: 600;
    margin-bottom: 30px;
}
/*Contact-Us-fdev-sg*/
/* *************** Page Name End *************** */

@media (min-width: 1920px) and (max-width: 2500px){
	
}
@media (min-width: 1600px) and (max-width: 1920px){
	
}
@media (min-width: 1366px) and (max-width: 1600px){
	
}
@media (min-width: 1200px) and (max-width: 1366px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}