/* *************** Header Section Start *************** */
.custom-header {
  background-color: var(--c-secondary);
  padding: 28px 0;
}
.header_navbar-expand .navbar-nav {
  gap: 0 85px;
}
.header_navbar-expand .nav-item {
  position: relative;
  padding: 15px 0;
  cursor: pointer;
}
.header_navbar-expand .nav-item::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background-color: var(--c-grey-700);
  transition: all 0.4s ease-in-out;
}
.header_navbar-expand .nav-item:hover::after {
  width: 100%;
}
.custom-header .nav-link {
  color: var(--c-grey-700);
  font-size: 16px;
  font-family: var(--ff-secondary);
  font-weight: 600;
  line-height: 31px;
  padding: 0;
  text-transform: uppercase;
}
.header_navbar-collapse .custom-offcanvas {
  background-color: var(--c-secondary);
  top: 127px;
  width: 320px;
}
.header_navbar-collapse .custom-offcanvas .offcanvas-body {
  padding: 20px 0 0;
}
.header_navbar-collapse .nav-item{
  padding: 5px 25px;
}
.header_navbar-collapse .nav-item .nav-link{
  position: relative;
  font-size: 14px;
  color: var(--c-grey-700);
  transition: padding-left .5s cubic-bezier(.19,1,.22,1);
    -webkit-transition: padding-left .5s cubic-bezier(.19,1,.22,1);
      -moz-transition: padding-left .5s cubic-bezier(.19,1,.22,1);
        -ms-transition: padding-left .5s cubic-bezier(.19,1,.22,1);
          -o-transition: padding-left .5s cubic-bezier(.19,1,.22,1);
}
.header_navbar-collapse .nav-item .nav-link:hover{
  padding-left: 20px;
}
.header_navbar-collapse .nav-item .nav-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f101";
  position: absolute;
  left: -20px;
  font-size: 14px;
  top: 0px;
  color: var(--c-grey-700);
  opacity: 0;
  transition: left .4s cubic-bezier(.25,.46,.45,.94),opacity .2s cubic-bezier(.25,.25,.75,.75);
    -webkit-transition: left .4s cubic-bezier(.25,.46,.45,.94),opacity .2s cubic-bezier(.25,.25,.75,.75);
      -moz-transition: left .4s cubic-bezier(.25,.46,.45,.94),opacity .2s cubic-bezier(.25,.25,.75,.75);
        -ms-transition: left .4s cubic-bezier(.25,.46,.45,.94),opacity .2s cubic-bezier(.25,.25,.75,.75);
          -o-transition: left .4s cubic-bezier(.25,.46,.45,.94),opacity .2s cubic-bezier(.25,.25,.75,.75);
}
.header_navbar-collapse .nav-item .nav-link:hover:before {
  opacity: 1;
  left: 0;
}
.icon-bar {
  transition: all .3s linear;
}
.close span:nth-child(4) {
  transform: rotate(46deg) translate(-4px, -4px);
}
.close span:nth-child(3) {
  opacity: 0;
}
.close span:nth-child(2) {
  transform: rotate(-46deg) translate(-4px, 4px);
}


/* *************** Header Section End *************** */

/* *************** Banner Section Start *************** */
.custom-banner .carousel-item img {
  --vp-v: 0.425;
  height: calc(100vw * var(--vp-v));
  object-fit: cover;
  object-position: center;
}
.custom-banner_content {
  text-align: left;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: unset;
}
.custom-banner_content h2 {
  color: var(--c-white-900);
  font-size: 70px;
  line-height: 68px;
  font-weight: 400;
  width: fit-content;
  margin-left: 0;
  margin-bottom: 35px;
  text-transform: capitalize;
}
.custom-banner_content p {
  font-size: 21px;
  line-height: 40px;
  color: var(--c-white-900);
  margin-bottom: 45px;
  font-style: italic;
  width: 65%;
}
/* *************** Banner Section End *************** */

/* *************** Products Section Start *************** */
.product_feature {
  width: fit-content;
  margin-left: auto;
}
/* .slider-nav .slick-track {
  display: flex;
  width: 100% !important;
}
.slider-nav .slick-track .slick-slide {
  width: 100% !important;
} */
.product_nav .title h3 {
  font-size: 34px;
  color: var(--c-white-900);
  line-height: 68px;
  font-weight: 400;
  text-transform: capitalize;
}
/* *************** Products Section End *************** */

@media (min-width: 1600px) and (max-width: 1500px){

}

@media (min-width: 1500px) and (max-width: 1400px){
	
}

@media (min-width: 1400px) and (max-width: 1300px){
	
}
@media (min-width: 1300px) and (max-width: 1200px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler .icon-bar { width: 24px;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}